<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta lang="es"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Beauty Contacto </title>
    <meta name="keywords" content="Estetica, Quilmes,Centro de Estetica, Belleza, Bienester, Tratamientos Esteticos, Medicina Estetica, Mesoterapia, Plasma, Acido Hialuronico,
    Dermoabracion, limpieza de cutis, Dermapen, BB glow, Depilacion, manicuria, uñas esculpidas">
    <meta name="description" content="Bio Beauty Quilmes - Contacto: 011 2251-0186 Lunes a Sábados de 8:00 a 20:00hs.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark ">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/logo.png" class="d-inline-block align-center logoSmall" alt="Logo Biobeauty" loading="lazy">
            Bio Beauty
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01"> 
          <div class="navbar-nav text-center ml-auto mr-auto">
            <a class="nav-item nav-link sectionG" href="../index.html">Inicio</a>     
            <a class="nav-item nav-link sectionG" href="estetica.html">Tratamientos Esteticos</a>
            <a class="nav-item nav-link sectionG" href="medicina.html">Medicina Estética</a>
            <a class="nav-item nav-link sectionG" href="nosotros.html">Nosotros</a>
            <a class="nav-item nav-link sectionG" href="contacto.html">Contacto</a>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <a href="https://facebook.com" target="blank" ><img src="../img/fbicon.svg" alt="Facebook Link" class="linkIcon"></a>
            <a href="https://www.instagram.com/biobeauty_estetica_quilmes/" target="blank"><img src="../img/igicon.svg" alt="Instagram Link" class="linkIcon"></a>
          </div>
        </div>
    </nav>
    
    <div id="mainCont">
        <header>
            <h1>
                Contacto
            </h1>
        </header> 
        <div class="container1">
            <div class="contact-wrapper animated bounceInUp">
                <div class="contact-form">
                    <form action="">
                        <p>
                            <label>Nombre y Apellido</label>
                            <input type="text" name="fullname">
                        </p>
                        <p>
                            <label>Email</label>
                            <input type="email" name="email">
                        </p>
                        <p>
                            <label>Telefono</label>
                            <input type="tel" name="phone">
                        </p>
                        <p>
                            <label>Asunto</label>
                            <input type="text" name="affair">
                        </p>
                        <p class="block">
                           <label>Mensaje</label> 
                            <textarea name="message" rows="3"></textarea>
                        </p>
                        <p class="block">
                            <button>
                                Enviar
                            </button>
                        </p>
                    </form>
                </div>
                <div class="contact-info">
                    <h4>Mas info:</h4>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Pte. Juan Domingo Peron 780</li>
                        <li><i class="fas fa-phone"></i> 011 2251-0186.</li>
                        <li><i class="fas fa-envelope-open-text"></i> biobeautyesteticaquilmes@gmail.com.ar</li>
                    </ul>
                    <p>Envianos tus consultas, o reserva tu turno !</p>
                    <p>Te esperamos</p>
                </div>
            </div>
    
        </div>
    </div>    

      <div id="footer" class="container-fluid ">
        <div class="row ">
            <div class="col-12 col-md-4 pt-4 d-flex flex-column align-items-center">
                <p>Biobeauty Estética Quilmes</p>
                <p>Contacto: 011 2251-0186.</p>
                <p>Lunes a Sábados de 8:00 a 20:00hs.</p>
            </div>
            <div class="col-12 col-md-4 d-flex flex-row justify-content-around align-items-center">
                <a href="https://facebook.com" target="blank" ><img src="../img/fbicon.svg" alt="Link Facebook" class="linkIcon"></a>
                <a href="https://www.instagram.com/biobeauty_estetica_quilmes/" target="blank"><img src="../img/igicon.svg" alt="Link Instagram" class="linkIcon"></a>
                <a href="https://web.whatsapp.com/" target="blank"><img src="../img/WP icon.svg" alt="Link Whatsup" class="linkIcon"></a>
            </div>
            <div class="col-12 col-md-4 d-flex flex-row justify-content-center ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13116.058394334203!2d-58.2672033!3d-34.7300264!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbac72dbb5e8d6048!2sBiobeauty!5e0!3m2!1ses!2sar!4v1599345160313!5m2!1ses!2sar" id="iFrame" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>   
</body>
</html>